@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
.myscrap {
  .basic-Info {
    margin-left: 3vw;
    justify-content: start;
    align-items: start;
    text-align: start;
  }

  .scrap-chart {
    margin-left: 3vw;
    justify-content: start;
    align-items: start;
    text-align: start;
  }

  .scrap-article {
    margin-bottom: 100px;
    margin-left: 3vw;
    justify-content: start;
    align-items: start;
    text-align: start;
  }
}
