@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.mySubscribe{

  .basic-Info{
    margin-left: 3vw;
    justify-content: start;
    align-items: start;
    text-align: start;
  }

  .keyword-selector{
    margin-left: 3vw;
    margin-bottom: 20px;
    justify-content: start;
    align-items: start;
    text-align: start;

  }

  .subscribing-journalists{
    margin-bottom: 100px;
    margin-left: 3vw;
    justify-content: start;
    align-items: start;
    text-align: start;
  }

}


