
.footer-wrapper{
  bottom: 0;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gugi';
    background: rgb(228, 227, 227);
    .footer-title{
      margin: 10px;
      font-size: 2rem;
      font-weight: bold;
      color: midnightblue;
      span{
        font-size: 3.5rem;
        font-family: 'Pacifico', cursive;
      }
    }
    .footer-contents{
      margin: 10px;
      font-size: 1rem;
      color: #282c34;
    }
    .about-project{
      margin: 10px;
      font-size: 0.5rem;
      color: #282c34;
      text-align: center;
      span{
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Gugi';
      }
    }
    .my-website{
      text-align: center;
      .my-website-title{
        margin-bottom: 5px;
        font-size: 1.5rem;
        font-weight: bold;
        color: midnightblue;
      }
      a{
        font-size: 1rem;
        margin: 10px;
      }
    }
  }