.Mlogin-wrapper {
  width: 50vh;
  .Mpassword-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    input {
      width: 91%;
    }
    .Mpassword-btn-wrapper {
      position: absolute;
      right: 0;
      margin-right: 0.5rem;
      cursor: pointer;
    }
  }

  .brand {
    h1 {
      color: white;
    }
  }
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #ffaaa6;
    border-radius: 2rem;
    padding: 2rem 2rem;
    input {
      background-color: white;
      padding: 1rem 0.8rem;
      border: 0.1rem solid white;
      color: black;
      font-size: 1rem;
      border-radius: 5px;
      &:focus {
        background-color: white;
        border: 0.1rem solid red;
        outline: none;
      }
    }
    input::placeholder {
      font-style: italic;
    }
    .button1 {
      background-color: gray;
      color: white;
      padding: 1rem 2rem;
      border: none;
      font-weight: bold;
      border-radius: 0.4rem;
      font-size: 1rem;
      text-transform: uppercase;
      transition: 0.5s ease-in-out;
    }
    .button2 {
      background-color: red;
      color: white;
      padding: 1rem 2rem;
      border: none;
      font-weight: bold;
      cursor: pointer;
      border-radius: 0.4rem;
      font-size: 1rem;
      text-transform: uppercase;
      transition: 0.5s ease-in-out;
    }
    span {
      color: white;
      text-transform: uppercase;
      a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        transition: 0.5s ease-in-out;
        &:hover {
          color: red;
        }
      }
    }
  }
}
