
$particles: 50; // 폭죽 알맹이 갯수

// 폭죽범위
$conf-width: 500;
$conf-height: 500;

// 반짝이는 폭죽 list
$box-shadow: ();

// 시작할때 폭죽 list
$box-shadow2: ();

@for $i from 0 through $particles {
	$box-shadow: append($box-shadow, random($conf-width) - $conf-width / 2 + px random($conf-height) - $conf-height / 1.2 + px hsl(random(360), 100, 50), comma);
	// $box-shadow: $box-shadow, random($conf-width) - $conf-width / 2 + px random($conf-height) - $conf-height / 1.2 + px hsl(random(360), 100, 50);

	$box-shadow2: append($box-shadow2, 0 0 #fff, comma);


	// $box-shadow2: $box-shadow2, 0 0 #fff;

	// @debug '-------------------------';
	// @debug $box-shadow;
	// @debug '=============================';
	// @debug $box-shadow2;
}

@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

.pyro .before,
.pyro .after {
	@include size(3px);

	position: absolute;
	background: green;
	border-radius: 50%;
	box-shadow: $box-shadow2;
	animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro .after {
	animation-delay: 1.25s, 1.25s, 1.25s;
	animation-duration: 1.25s, 1.25s, 6.25s;
}

// $box-shadow2로 설정되 있는
// .before, .after의 box-shadow값을 변경
// 폭죽이 터지는 모습이 됌
@keyframes bang {
	to {
		box-shadow: $box-shadow;
	}
}

@keyframes gravity {
	to {
		transform: translateY(200px);
		opacity: 0;
	}
}
// 폭죽이 나타나는 위치 설정
@keyframes position {
	0%, 19.9% {
		margin-top: 10%;
		margin-left: 40%;
	}
	20%, 39.9% {
	    margin-top: 40%;
	    margin-left: 30%;
  	}
	40%, 59.9% {
	    margin-top: 20%;
	    margin-left: 70%
	}
  	60%, 79.9% {
    	margin-top: 30%;
    	margin-left: 20%;
  	}
  	80%, 99.9% {
    	margin-top: 30%;
    	margin-left: 80%;
  	}
}