@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media all and (max-width: 1024px) {
  .story-card-wrapper {
    width: 150px;
    height: 150px;
    &:hover {
      width: 160px;
      height: 160px;
      box-shadow: rgba(212, 210, 210, 0.9) 0px 22px 70px 4px;
    }
  }
}

@media all and (min-width: 1024px) {
  .story-card-wrapper {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      width: 260px;
      height: 260px;
      box-shadow: rgba(212, 210, 210, 0.9) 0px 22px 70px 4px;
    }
  }
}

// @media all and (max-width: 768px) {
//   .story-card-wrapper {
//     width: 120px;
//     height: 120px;

//     &:hover {
//       width: 130px;
//       height: 130px;
//       box-shadow: rgba(212, 210, 210, 0.9) 0px 22px 70px 4px;
//     }
//   }
// }

.story-card-wrapper {
  flex-shrink: 0;
  margin: 15px;
  font-family: "Noto Sans KR", sans-serif;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 1s, height 1s, box-shadow 1s;
  cursor: pointer;

  .story-body-img {
    width: 100%;
    height: 100%;
    position: relative;

    img {
      border-radius: 10px;
      width: 95%;
      height: 95%;
      object-fit: cover;
    }
  }
}
