@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.reporter-wrapper {
  opacity: 0;
  animation: smoothAppear 2s forwards;
  animation-delay: 0.2s;
}

.reporter-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: smoothAppear 2s forwards;
  animation-delay: 0.2s;
}

.title {
  margin-bottom: 50px;
  font-size: 32px;
  opacity: 0;
}

.carousel {
  width: 80%;
  margin: 0 auto;
}

.carousel-cell {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  position: relative;
}

.carousel-cell img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
