.changepc-wrapper {
  padding: 2rem;
  text-align: center;
  justify-content: center;
  font-family: "Gugi";
  Button {
    font-family: "Gugi";
  }
  .changepc-selector {
    text-align: center;
    justify-content: center;
    font-family: "Gugi";
    display: flex;
  }
}
