@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.personal-info{
  .basic-Info {
    margin-left: 3vw;
    display: grid;
    justify-content: start;
    align-items: start;
    text-align: start;
  }

  .personal-change {
    margin-left: 3vw;
    display: grid;
    justify-content: start;
    align-items: start;
    text-align: start;
    h4{
      margin-top: 10px;
      margin-bottom: 10px;
    }
    Button{
      margin-bottom: 25px;
      margin-top: 15px;
    }
  }
}





