@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.page3-container {
  display: flex;
  flex-direction: column;
}

.box1 {
  flex-basis: 50%;
}

.box2 {
  flex-basis: 50%;
}

.page1-image{
  width: 40vw;
  height: 60vh;
}

.description span {
  color: #0066cc;
}

