.story-image-uploader-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    .story-img-wrapper {
      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 20px;
      }
    }
    .story-upload-button {
      button {
        margin: 10px 5px;
        font-size: 2rem;
        font-family: 'Gugi';
        border: none;
      }
    }
  }